<?xml version="1.0"?>
<!--
  ~ Zanna Gls Weblabeling Module
  ~
  ~ @author                Zanna Bianca
  ~ @package             Zanna Gls
  ~ @version               1.0.0
  ~ @copyright           2022 Zanna Bianca
  ~ @license                http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Shipping\Block\Tracking\Popup" type="Zanna\Gls\Block\Popup" />
</config>
